Seminário - Análise de EEG por LDA/dataset
Seminário - Análise de EEG por LDA/funções
Seminário - Análise de EEG por LDA/PLVs
Seminário - Análise de EEG por LDA/Minicurso_EEG_Matlab_SAET.m
Main.asv
Relatório.pdf